---
layout: layout.html
---

<!-- jumbotron -->
<section class="bg-center bg-no-repeat bg-[url('/images/loid_forger.png')] bg-gray-700 bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Fruit Demo</h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">The best fruits in town</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Order now
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <a href="/menu" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Menu
            </a>  
        </div>
    </div>
</section>

<!-- description -->
<div class="p-10">
    <h2 class="text-4xl font-bold mb-2">A bit about us</h2>
    <p>Cras fringilla nisi sed aliquam pellentesque. Aliquam lacus felis, rhoncus in nisl vitae, lacinia suscipit urna. Integer sit amet feugiat orci, id porta magna. In hac habitasse platea dictumst. Ut ullamcorper sapien interdum justo eleifend, eu blandit eros placerat. Morbi quis congue quam. Donec et tincidunt tortor. Suspendisse potenti. Praesent augue odio, commodo eu turpis non, lobortis porta felis. Nullam commodo sapien vel nisl blandit, lobortis sagittis tellus iaculis.</p>
</div>

<!-- top foods -->
<div class="p-10">
    <h2 class="text-4xl font-bold mb-2">Some customer favs</h2>

    <div class="flex mb-4">
        {% for food in top_foods.foods %}
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <img class="rounded-t-lg" src="/images/loid_forger.png" alt="loid forger"/>
    
                <div class="p-2">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ food.name }}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ food.desc }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="/menu" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Menu</a>
</div>

<!-- blog entries -->
<div class="p-10">
    <h2 class="text-4xl font-bold mb-2">Stuff we say</h2>
    
    {% for post in collections.post | reverse %}
        <div class="mb-6">
            <h4 class="text-2xl font-bold mb-2"><a href="{{ post.url }}">{{ post.data.title }}</a></h4>
            <p>{{ post.content }}</p>
        </div>
    {% endfor %}
</div>