---
layout: layout.html
---

<!-- hero -->
<div class="hero">
    <h1>Fruit Demo<span>The best fruits in town</span></h1>
</div>

<!-- description -->
<div class="section">
    <h2>a bit about us</h2>
    <p>Cras fringilla nisi sed aliquam pellentesque. Aliquam lacus felis, rhoncus in nisl vitae, lacinia suscipit urna. Integer sit amet feugiat orci, id porta magna. In hac habitasse platea dictumst. Ut ullamcorper sapien interdum justo eleifend, eu blandit eros placerat. Morbi quis congue quam. Donec et tincidunt tortor. Suspendisse potenti. Praesent augue odio, commodo eu turpis non, lobortis porta felis. Nullam commodo sapien vel nisl blandit, lobortis sagittis tellus iaculis.</p>
</div>

<!-- top foods -->
<div class="section">
    <h2 class="text-3xl font-bold">some customer favs</h2>

    <div class="flex">
        {% for food in top_foods.foods %}
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <img class="rounded-t-lg" src="/images/loid_forger.png" alt="loid forger"/>
    
                <div class="p-2">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ food.name }}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ food.desc }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- blog entries -->
<div class="section">
    <h2>some stuff we say</h2>
    
    {% for post in collections.post %}
    <div class="blog-entry">
        <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
        <p>{{ post.content }}</p>
    </div>
    {% endfor %}
</div>